
fastapi==0.115.2
uvicorn==0.30.6
mangum==0.17.0
torch==2.5.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.45.1
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.3
scipy==1.14.1
librosa==0.10.2.post1
soundfile==0.12.1
mne==1.7.1
gdown==5.2.0
python-multipart==0.0.9
